@font-face {
    font-family: "Dongle";
    src: url('../assets/font/Dongle-Regular.woff') format('woff');
}

:root {
    font-size: 18px;
    font-family: Roboto, Lato, serif;
}

* {
    line-height: 1.8;
}

/* app layout end */
.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(320px, 1fr) 5fr;
    grid-template-rows: auto 1fr;
}

.header {
    grid-column: 2 / 3;
    position: sticky;
    top: 0;
    border-bottom: 6px dashed black;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: antiquewhite;
    border-right: 6px dashed black;
}
/* app layout end */

/* header start */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: rgb(225, 225, 225);
}
/* header end */

/* sidebar start */
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 34px;
}
.sidebar ul {
    list-style-type: none;
}
.sidebar .title {
    margin-top: 30px;
}
.sidebar > * {
    padding: 0;
    margin-left: 30px;
}
.sidebar .menu-group {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.sidebar .sidemenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}
.sidebar .sidemenu button {
    border: none;
    background-color: transparent;
}
.sidebar .sidemenu button:hover {
    cursor: pointer;
    color: red;
}
/* sidebar end */

/* content start */
.content {
    background-color: rgb(240, 240, 240);
    padding: 10px 20px;
}
.content .task-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.content .task-container .btn-new-task {
    border: 2px dashed gray;
    border-radius: 5px;
    padding: 6px 16px;
    font-weight: bolder;
    background-color: rgb(230, 230, 230);
}
.content .task-container .btn-new-task:hover {
    background-color: rgb(220, 220, 220);
    cursor: pointer;
}

.content .task-container .task {
    display: flex;
    justify-content: space-between;

    padding: 8px 16px;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.4);
}
.task-container .task .title {
    font-weight: bold;
}
.task-container .task .priority {
    padding: 1px 15px;
    font-size: 0.85rem;
    align-self: center;
    font-weight: bold;
    border-radius: 5px;
    color: white;
}
.task-container .task .priority.low {
    background-color: green;
}
.task-container .task .priority.medium {
    background-color: orange;
}
.task-container .task .priority.high {
    background-color: red;
}
/* content end */