@font-face {
    font-family: "Dongle";
    src: url('../assets/font/Dongle-Regular.woff') format('woff');
}

:root {
    font-size: 18px;
    font-family: Roboto, Lato, serif;
}

* {
    line-height: 1.8;
}

/* app layout end */
.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 280px 5fr;
    grid-template-rows: auto 1fr;
}

.header {
    grid-column: 2 / 3;
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.653);
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: #003049;
    box-shadow: 0px 0px 8px gray;
}
/* app layout end */

/* header start */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    color: #003049;
    background-color: #e5e5e5;
}
/* header end */

/* sidebar start */
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 34px;
    padding-right: 30px;
    
    color: #fca311;
}
.sidebar ul {
    list-style-type: none;
}
.sidebar .title {
    margin-top: 30px;
}
.sidebar > * {
    padding: 0;
    margin-left: 30px;
}
.sidebar .menu-group {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.sidebar .sidemenu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
}
.sidebar .sidemenu button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: #e5e5e5;
    text-align: left;
}
.sidebar .sidemenu li {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 6px 10px;
}

.sidebar .sidemenu li .delete-btn {
    padding: 0;
}
.sidebar .sidemenu li .delete-btn:hover svg {
    fill: red;
}
.sidebar .sidemenu li .delete-btn svg {
    fill: white;
    width: 1.8rem;
}
.sidebar .sidemenu li button:hover ~ button svg {
    fill: black;
}

.sidebar .sidemenu li:has(button:hover),
.sidebar .sidemenu li button:hover ~ button,
.sidebar .sidemenu li button:has(+ button:hover) {
    cursor: pointer;
    color: black;
    background-color: #e5e5e5;
}
.sidebar .projects li button:hover,
.sidebar li button:hover {
    color: red;
}
.sidebar .projects button:first-child {
    width: 100%;
}
.sidebar .sidemenu .active,
.sidebar .sidemenu .active button {
    color: black;
    background-color: #e5e5e5;
}
.sidebar .sidemenu li:has(.btn-new-project) {
    background-color: #585858;
    color: #e5e5e5;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
}
/* sidebar end */

/* content start */
.content {
    background-color: rgb(240, 240, 240);
    padding: 24px 30px;
}
.content .task-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.content .task-container .task.is-done {
    filter: brightness(.5);
}

.content .task-container .btn-new-task {
    border: 2px dashed gray;
    border-radius: 5px;
    padding: 6px 16px;
    font-weight: bolder;
    background-color: rgb(230, 230, 230);
}
.content .task-container .btn-new-task:hover {
    background-color: rgb(220, 220, 220);
    cursor: pointer;
}

.content .task-container .task {
    display: flex;
    justify-content: space-between;

    padding: 8px 16px;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.4);
}
.task-container .task .title {
    font-weight: bold;
}
.task-container .task .priority {
    font-size: 0.85rem;
    align-self: center;
    font-weight: bold;
    border-radius: 5px;
    width: 90px;
    text-align: center;
    color: white;
}
.task-container .task .priority.low {
    background-color: green;
}
.task-container .task .priority.medium {
    background-color: orange;
}
.task-container .task .priority.high {
    background-color: red;
}
.content .task-container .task .task-action {
    display: flex;
    gap: 18px;
}
.content .task-container .task button:has(svg) {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.content .task-container .task svg {
    fill: black;
    width: 1.4rem;
    align-self: center;
}
.content .task-container .task button:hover svg {
    fill: red;
}
/* content end */

/* dialog start */

dialog:open {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: none;
    padding: 14px 20px;
    border-radius: 8px;
    width: 400px;
}

dialog .dialog-header {
    display: flex;
    justify-content: space-between;
}
dialog .dialog-header button {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
dialog .dialog-header button:hover svg {
    fill: red;
}
dialog .dialog-header svg {
    fill: black;
    width: 1.6rem;
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
dialog form .error-message {
    text-align: center;
    color: rgb(255, 52, 52);
}
dialog form .form-group {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
dialog form .form-group input {
    width: 100%;
    padding: 2px 4px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 4px;
}
dialog form .fieldset {
    border: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}
dialog form label {
    cursor: pointer;
    display: flex;
    gap: 5px;
    font-weight: bold;
    color: #323232;
}
dialog form label:has(~input:required)::after,
dialog form legend::after {
    content: "*";
    color: red;
    font-weight: lighter;
}
dialog form .fieldset label:has(input[value="low"]) {
    color: green;
}
dialog form .fieldset label:has(input[value="medium"]) {
    color: orange;
}
dialog form .fieldset label:has(input[value="high"]) {
    color: red;
}
dialog form .fieldset label input {
    cursor: pointer;
}

dialog form .form-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: right;
}
dialog form .form-buttons button {
    cursor: pointer;
    border: none;
    background-color: green;
    color: white;
    min-width: 100px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
}

/* dialog end */