@font-face {
    font-family: "Dongle";
    src: url('../assets/font/Dongle-Regular.woff') format('woff');
}

:root {
    font-size: 18px;
    font-family: Roboto, Lato, serif;
}

* {
    line-height: 1.8;
}

/* app layout end */
.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(320px, 1fr) 5fr;
    grid-template-rows: auto 1fr;
}

.header {
    grid-column: 2 / 3;
    position: sticky;
    top: 0;
    border-bottom: 6px dashed black;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: antiquewhite;
    border-right: 6px dashed black;
}
/* app layout end */

/* header start */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: rgb(225, 225, 225);
}
/* header end */

/* sidebar start */
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 34px;
}
.sidebar ul {
    list-style-type: none;
}
.sidebar .title {
    margin-top: 30px;
}
.sidebar > * {
    padding: 0;
    margin-left: 30px;
}
.sidebar .menu-group {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.sidebar .sidemenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}
.sidebar .sidemenu button {
    border: none;
    background-color: transparent;
}
.sidebar .sidemenu button:hover {
    cursor: pointer;
    color: red;
}
/* sidebar end */

/* content start */
.content {
    background-color: rgb(240, 240, 240);
    padding: 10px 20px;
}
/* content end */